.header {
  padding-top: 30px;
  color: #fff;
  background-color: #1f3864;
  background-image: url(../img/images/logo-bg.png);
  background-repeat: no-repeat;
  background-position: bottom center;
}

.logo {
  text-align: center;
  margin-bottom: 50px;
}